<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="card offset-md-2">
                    <div class="header">
                        <h4 class="title">Registrar Administrador</h4>
                    </div>
                    <div class="content">                     
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div>
                                            <label class="name" >(*) Nombre Completo</label>
                                            <input 
                                            type="text" class="form-control" 
                                            placeholder="Nombre(s)" value=""
                                            [(ngModel)]="user.name"
                                            (ngModelChange)="validarFormulario()">
                                        </div>
                                    </div>
                                </div>
                            </div>

                             <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div>
                                            <label class="name">(*) Apellidos</label>
                                            <input 
                                            type="text" class="form-control" 
                                            placeholder="Apellido Paterno" value=""
                                            [(ngModel)]="user.lastname"
                                            (ngModelChange)="validarFormulario()">
                                        </div>
                                    </div>
                                </div>
                             </div>

                            <div class="row">                           
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label class="name">(*) Correo Electronico</label>
                                        <input type="email" class="form-control" 
                                        placeholder="Correo Electronico" value=""
                                        [(ngModel)]="user.email"
                                        (ngModelChange)="validarFormulario()">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="name"> Celular </label>
                                        <input type="number" class="form-control" 
                                        placeholder="Celular" value=""
                                        [(ngModel)]="user.phone"
                                        (ngModelChange)="validarFormulario()">
                                    </div>
                                </div>
                            </div>
                            <div class="button-r">
                                <div class="button-registrar">
                                    <button class="btn btn-primary btn-fill pull-right" (click)='registry()' [disabled]= "!formularioValido"> Registrar  </button>
                                </div>
                                <div class="button-cancelar">
                                    <button class="btn btn-danger btn-fill" (click)='cancelRegistry()'> Cancelar </button>
                                </div>      
                            </div>
                        </div>                      
                </div>
            </div>
        </div>
    </div>
</div>