<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 offset-md--2">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Registrar Administrador</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>NOMBRE COMPLETO*</label>
                                        <input type="text" class="form-control" placeholder="Nombres" value="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">APELLIDO PATERNO*</label>
                                        <input type="email" class="form-control" placeholder="Apellido Paterno">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">APELLIDO MATERNO*</label>
                                        <input type="email" class="form-control" placeholder="Apellido Materno">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> TELEFONO</label>
                                        <input type="text" class="form-control" placeholder="Telefono" value="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> CELULAR*</label>
                                        <input type="text" class="form-control" placeholder="Celular" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>CORREO ELECTRONICO*</label>
                                        <input type="text" class="form-control" placeholder="Correo Electronico" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Postal Code</label>
                                        <input type="number" class="form-control" placeholder="ZIP Code">
                                    </div>
                                </div>
                            </div>
                            <div class="button-r">
                                <button type="submit" class="btn btn-info btn-fill pull-right" > Cancelar</button>
    
                                <button type="submit" class="btn btn-info btn-fill pull-right">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>