 .content{
   
    padding-left: 20%;
}

.title{
    text-align: center;
    padding-bottom: 5%;
    padding-top: 2%;
   
}
.name{
    text-transform: capitalize;
}

.button-r{
    padding-top: 4%;
    padding-right: 50%;
    padding-bottom: 3%;
}
.button-registrar{

    margin-left: 150%;
}
.button-cancelar{

    margin-left: 15%;
}



