 .content{
   
    padding-left: 15%;
}

.title{
    text-align: center;
    /* font-size: 50px; */
    padding-bottom: 5%;
    padding-top: 2%;
    /* font-weight: bold; */
}
.name{

    font-weight:bold;
    text-transform: capitalize;
}
.input{
    display: inline-flex;
    align-content: center;
}
.button-r{
    padding-top: 4%;
    padding-right: 50%;
    padding-bottom: 3%;
}
.button-registrar{

    margin-left: 130%;
}



