<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 offset-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Administrar anformacion del sistema</h4>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nombre de Usuario</label>
                                    <input type="text" class="form-control" placeholder="Company" [(ngModel)]='ussername'>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Contraseña</label>
                                    <input type="password" class="form-control" placeholder="Company" [(ngModel)]='password'>
                                </div>
                            </div>
                        </div>
                        <button type="submit" (click)="login()" class="btn btn-primary">Iniciar Sesion</button>
                        <button type="submit" class="btn btn-danger pull-right">Registrarse</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>