.grid-container {
    display: grid;
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
}
.grid-item1 {
    text-align: center;
    border: black 5px solid;
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 4;
    width: 200px;
    height: 200px;
}
.grid-item2 {
    background: blue;
    text-align: center;
    border: black 5px solid;
    grid-column-start: 3; 
    grid-column-end: 5; 
    grid-row-start: 1; 
    grid-row-end: 4;
    width: 200px;
    height: 200px;
}
.grid-item3 {
    background: blue;
    text-align: center;
    border: black 5px solid;
    grid-column-start: 5; 
    grid-column-end: 7; 
    grid-row-start: 1; 
    grid-row-end: 4;
    width: 200px;
    height: 200px;
}
.grid-item4 {
    background: blue;
    text-align: center;
    border: black 5px solid;
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 4; 
    grid-row-end: 7;
    width: 200px;
    height: 200px;
}
.grid-item5 {
    background: rgb(136, 255, 0);
    text-align: center;
    border: black 5px solid;
    grid-column-start: 3; 
    grid-column-end: 5; 
    grid-row-start: 4; 
    grid-row-end: 7;
    width: 200px;
    height: 200px;
} 
.grid-item6 {
    background: blue;
    text-align: center;
    border: black 5px solid;
    grid-column-start: 5; 
    grid-column-end: 7; 
    grid-row-start: 4; 
    grid-row-end: 7;
    width: 200px;
    height: 200px;
}