<hed>
    <link rel="stylesheet" type="text/css" href="./vista-lista-plantas.component.css">
</hed>
<h2>Lista de plantas</h2>
<table *ngIf="listaPlantas">
  <tr *ngFor="let i of lista">
    <td>
      <div class="imagebox" *ngIf="i!=0">
        <img [src]="listaPlantas[3*i-1].foto" class="img-fluid">
        <span class="imagebox-desc">{{imageList[3*i-1].downloadTokens}}</span>
      </div>
    </td>
    <td *ngIf="listaPlantas[3*i]">
      <div class="imagebox">
        <img [src]="listaPlantas[3*i].foto" class="img-fluid">
        <span class="imagebox-desc">{{imageList[3*i].nombre}}</span>
      </div>
    </td>
    <td *ngIf="listaPlantas[3*i+1]">
      <div class="imagebox">
        <img [src]="listaPlantas[3*i+1].foto" class="img-fluid">
        <span class="imagebox-desc">{{imageList[3*i+1].nombre}}</span>
      </div>
    </td>
  </tr>
</table>