<div class="main-content" >
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <div class="card card-user">
              <div>
                  <img class="planta-imagen" [src]="planta$.foto"/>
              </div>
          </div>
        </div>
          <div class="col-md-7">
              <div class="card">
                  <div class="header">
                      <h4 class="title">Informacion especifica de la planta</h4>
                  </div>
                  <div class="content">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label>Nombre Comun</label>
                                      <input [(ngModel)]="planta$.nombre" type="text" class="form-control">
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nombre Cientifico</label>
                                    <input [(ngModel)]="planta$.nombre_cientifico" type="text" class="form-control" placeholder="Username" value="Nombre Cientifico de la planta">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label>Origen de la Planta</label>
                                  <input [(ngModel)]="planta$.origen" type="text" class="form-control" placeholder="Username" value="Origen">
                              </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label>Beneficios</label>
                                  <textarea [(ngModel)]="planta$.beneficios" rows="3" class="form-control" placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                              </div>
                          </div>
                        </div>

                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label>Usos Medicinales</label>
                                      <textarea [(ngModel)]="planta$.usos_medicinales" rows="3" class="form-control" placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                                  </div>
                              </div>
                          </div>
                          <button type="submit" class="btn btn-primary btn-fill pull-right">Guardar Informacion</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
